<h1>New Recipe Form</h1>

<form action='/recipes' method='post'>
    <label>Recipe Name</label>
    <input type='text' name='name'>
    <br>
    <label>Recipe Ingredients</label>
    <input type='text' name='ingredients'>
    <br>
    <label>Total Cook Time (in minutes)</label>
    <input type='number' name='cook_time'>
    <br>
    <br>
    <input type='submit'>
</form>